node_modules
.next
out
.env
.env*.local
!.env.example
.DS_Store
*.log
.vscode
.vercel
prisma/dev.db-journal
public/uploads/designs/*
public/uploads/orders/*
!public/uploads/designs/.gitkeep
!public/uploads/orders/.gitkeep
*.tsbuildinfo
